body,html{
  font-size:10px;
/*1rem = 10px
 *2rem = 20px*/
}
body{
  padding-top:97px;
  background-color:#000;
}
*{
  margin:0px; padding:0px;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Nanum Gothic', sans-serif;
  /* font-family: 'Black Han Sans', sans-serif;'' */
  font-size:100%;
  line-height:180%;
  color:#222;
  font-weight:400;
}
h3{
  color:#fff;
  font-size:6rem
}
a{
  text-decoration:none;
  color:#f5f5f7;
}
img{
  border:0;
}
ul,li{
  list-style:none;
}
p{
  font-family: 'Nanum Gothic', sans-serif;
  color:#090909;
}
/*공통클래스*/

.container{
  max-width:1280px;
  margin:0 auto;
}
.gnb_svg{
  fill:#f5f5f7;
}


/* ------------------------------------- */

#hd{
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    /* height:44px; */
    background: rgba(0,0,0,0.92);
    transition: top 0.2s ease-in-out;

}
#hd.nav-up{
  top: -47px
}
#gnb{
  width: 100%;
  /* height: 100%; */
  text-align:center;
}
#gnb li{
  display:inline-block;
  vertical-align: middle;
}
#gnb li a{
  font-size: 1.4rem;
  padding: 0 40px;
  line-height: 100%;
  display: block;
}

#scroll_top{

  background:#f7f7f7;

}
#scroll_top li{
  display:inline-block;
  vertical-align: middle;
}
#scroll_top li:first-child{
  margin-left:17px;
}
#scroll_top li a{
  font-size: 1.6rem;
  padding: 0 40px;
  line-height: 100%;
  display: block;
  line-height: 50px;
  color:black;
}
#scroll_top li+li{
  float: right;
} 

#visual{
  width:100%;
  position:relative;
  top:0; left:0; right:0;
  background-attachment: fixed;
  background-image:url('/img/innovation.jpg');
  background-repeat: no-repeat;
  background-size:100%;
}

#visual #comment{
  width: 100%;
  height: 100vh;
  position: relative;
}

#visual #comment .container .txt{
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
}
#visual h2{
  font-size:10rem;
  color:#fff;
  padding: 5px 0;
}
#visual .border_bottom{
  font-size:4rem;
  color:#fff;
  padding: 5px 0;


}
h2.border_bottom:after{
  content:"";
  display: block;
  width:60px;
  border-bottom:solid 1px #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-137px);
  animation-name:liner;
  animation-duration:1.5s;
}
@@keyframes liner {
  0%{
    width:0%;
  }
  50%{
    width:50%;
  }
  100%{
    width:100%;
  }
}
#visual span{
  color:#fff;
  font-size:2rem;
  display: block;
  margin:5px 0;
}
#video_part{
  width:100%;
  background-color:#000;
}

#video_frame .youtube {
  position: relative;
  width: 560px;
  height:315px;
  padding-bottom: 56.25%;
}
#video_frame .youtube iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}



/* 킹둑질 */
#side_wrap{
  width:100%;
  height:800px;
  background-color:#000;
}
#side_wrap #sp_txt{
  padding:200px 0 200px;
  width: 960px;
  z-index: 100;
  margin:0 auto;
  position: relative;
}
#side_wrap #sp_txt p{
  font-size:4rem;
  color:#fff;
  padding:15px 0;
}
#side_wrap #sp_txt p+p{
  font-size:2rem;
  color:#fff;
  margin:-5px 0;
}
#side_wrap #sp_txt h2{
  font-size:1.4rem;
  color:#fff
}

#side_wrap #sp_txt a{
  display: inline-block;
  width:60px;
  background:#fff;
  color:#000;
  text-align: center;
  line-height:30px;
  border-radius:3px;
  text-decoration:none;
}
#side_wrap .container .f_container {
  width:505px;
  margin-left:88px;
}
#side_wrap .container .f_container figure {
  width:100%;
  margin:0;
  text-align: right;
  margin-top:100px;
}
#side_wrap .container .f_container figure {
  position:absolute;
  right:0;
  top:50%;
  height:auto;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
}
#side_wrap .container .f_container figure {
  width:100%;
}
#side_wrap .container .f_container .on_img {
  opacity:0;
  z-index:1;
  animation-name:storage-active;
  animation-duration:1.6s;
  animation-iteration-count:infinite;
}
#side_wrap .container .f_container .on-img {
  opacity:1 !important;
}
@keyframes storage-active {
	0% {opacity:0;}
	50% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes storage-active {
	0% {opacity:0;}
	50% {opacity:1;}
	100% {opacity:0;}
}
